
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container{
    /*----here container act like body-----*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logopostion{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.logo{
    font-size: 45px;
    font-weight: 400;
    color: rgb(83, 99, 241);
}
.center{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.loginimage{
height: 100%;
width: 50%;
}
.loginimage > img {
  width: 100%;
}
.loginsqure{
  height: 100%;
  width: 50%;
  background-color: #dad0d067;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signtext{
  width: 80%;
  margin: 0;
  padding: 0;
}
.loginform{
  width: 80%;
  margin: 0;
  padding: 0;
}
.loginform > input[type=text],input[type=password]
{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0.5px rgb(100, 98, 98) solid;
  margin-top: 12px;
}
.loginform input[type=submit]
{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 12px;
  border: 0px;
  background-color: rgb(83, 99, 241);
}
.signtext > h2,
.signtext > h4{
  margin-top: 1px;
  margin-bottom: 0;
  font-weight: 400;
  margin-left: 0;
}









/*------------FONTS----------------------------------*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  